{
  "printWidth": 100,
  "semi": true,
  "endOfLine": "lf",
  "trailingComma": "all",
  "tabWidth": 2,
  "singleQuote": true,
  "jsxSingleQuote": false,
  "arrowParens": "always",
  "bracketSpacing": true
}
